.intro-section{
    &-left{
        &-button{
            button{
                @include btn-design();
                text-align: left;
            }
        }
    }
}

.services-section{
    &-bottom{
        @include content-design();
        justify-content: center;
        align-items: center;
        button{
            @include all-btn();
        }
    }
}

.about-section{
    &-right{
        &-button{
            button{
                @include all-btn();
            }
        }
    }
}

.download-section{
    &-left{
        &-button{
            button{
                cursor: pointer;
                padding: 0;
                background-color: #fff;
                border: 1.4px solid $main-color;
                color: $main-color;
                font-size: $small-size-text;
                border-radius: 55px;
                width: 200px;
                height: 56px;
                display: flex;
                align-items: center;
                justify-content: center;
                img{
                    margin-left: 10px;
                }
            }
        }
    }
}