.blogs-section{
    padding-top:150px;
    @include content-design();
    align-items: center;
    &-top{
        &-title{
            font-weight: 700;
            font-size: $title-size;
            padding-bottom: 26px;
        }
    }
    .section-title-design{
        @include title-design();
    }
    &-center{
        padding-top: 70px;
        display: flex;
        &-card{
            width: 336px;
            height: 460px;
            box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
            border-radius: 20px;
            margin-left: 20px;
            &-top{
                height: 45%;
                @include content-design();
                align-items: center;
                img{
                    height: 100%;
                    border-top-left-radius: 20px;
                    border-top-right-radius: 20px;
                }
            }
            &-bottom{
                padding: 20px;
                &-title{
                    font-size: 21px;
                    font-weight: 700;
                    line-height: 1.5;
                    padding-bottom: 12px;
                }
                &-content{
                    font-size: 16px;
                    color: $content-color;
                    line-height: 1.5;
                    padding-bottom: 25px;
                }
                a{
                    color: $read-more-links;
                    text-decoration: none;
                    img{
                        margin-left: 10px;
                    }
                }
                a:hover{
                    color: mediumblue;
                }
            }
        }
        #card{
            margin: 0;
        }
    }
    &-bottom{
        padding-top: 50px;
        padding-bottom: 120px;
    }
}