.intro-section{
    display: flex;
    padding-bottom: 120px;
    padding-top:60px;
    // padding: 0 163px 192px 190px;
    // height: 90vh;
    &-left{
        padding-right: 100px;
        @include content-design();
        justify-content: center;
        align-items: flex-start;
        width: 50%;
        &-title{
            font-size: 48px;
            font-weight: 700;
        }
        &-content{
            font-size: 21px;
            color: $content-color;
            line-height: 1.5;
            padding: 25px 0 48px;
            text-align: justify;
        }
    }
    &-right{
        width: 50%;
        img{
            width: 100%;
            height: 100%;
        }
    }
}