.services-section{
    @include content-design;
    padding-bottom: 120px;
    // padding: 0 240px 221px;
    &-top{
        @include content-design;
        align-items: center;
        &-title{
            padding-bottom: 26px;
            h2{
                font-size: $title-size;
                font-weight: 700;
            }
        }
        .section-title-design{
            @include title-design();
        }
        &-content{
            text-align: center;
            padding-top: 33px;
            font-size: $small-size-text;
            color: $content-color;
            width: 91%;
            margin: 0 auto;
            line-height: 1.5;
        }
    }
    &-center{
        .services-section-cards-bottom{
            padding-bottom: 70px;
        }
        .services-section-cards-top, .services-section-cards-bottom{
            display: flex;
            justify-content: space-around;
            .services-section-card{
                padding: 54px 37px;
                box-sizing: border-box;
                width: 350px;
                height: 354px;
                @include content-design;
                justify-content: space-around;
                box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
                border-radius: 20px;
                &-img{
                    img{
                        width: 60px;
                        height: 70px;
                    }
                }
                &-title{
                    font-size: 24px;
                    font-weight: 700;
                    padding: 12px 0;
                }
                &-content{
                    font-size: 16px;
                    color: $content-color;
                    line-height: 1.5;
                    text-align: justify;
                    width: 100%;
                }
            }
        }
    }
}