@mixin content-design{
    display: flex;
    flex-direction: column;
}
@mixin btn-design{
    padding: 0;
    background-color: $main-color;
    border: none;
    color: #fff;
    font-size: $small-size-text;
    border-radius: 55px;
    width: 200px;
    height: 56px;
    @include content-design();
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

@mixin all-btn{
    padding: 0;
    background-color: #fff;
    border: 1.4px solid $main-color;
    color: $main-color;
    font-size: $small-size-text;
    border-radius: 55px;
    width: 200px;
    height: 56px;
    @include content-design();
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

@mixin title-design{
    border: 1px solid #000;
    width: 56px;
    height: 1px;
}