$main-color:#458FF6;
$content-color:#7D7987;
$background-gradient:linear-gradient(208.18deg, #67C3F3 9.05%, #5A98F2 76.74%);
$read-more-links:#4089ED;
$active-ellipse:#5B9BF3;
$nav-links:#1F1534;
$small-size-text: 18px;
$title-size:36px;
$footer-background: linear-gradient(183.41deg, #67C3F3 -8.57%, #5A98F2 82.96%);
// breakpoints
$laptop-breakpoint:1445px;
$second-breakpoint:1325px;
$third-breakpoint:1050px;
$fourth-breakpoint:800px;
$five-breakpoint:638px;
$-thfo-breakpoint:970px;